
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFilialLabel" translate="gpwebApp.filial.home.createOrEditLabel">Criar ou editar Filial</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
			<div class="col-xs-12 col-sm-2">
                <div class="form-group" >
                    <label for="id" translate="global.field.id">Código</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.filial.id" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.nmFilial" for="field_nmFilial">Nome</label>
                    <input type="text" class="form-control text-uppercase" name="nmFilial" id="field_nmFilial"
                            ng-model="vm.filial.nmFilial"
                            required ng-minlength="1" ng-maxlength="60" />
                    <div ng-show="editForm.nmFilial.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmFilial.$error.required" translate="entity.validation.required">
                            Campo obrigatório.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmFilial.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                            Este campo deve ter pelo menos que 1 caractere.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmFilial.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="60">
                            Este campo não pode ter mais que 60 caracteres.
                        </p>
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.nmRazao" for="field_nmRazao">Razao Social</label>
                    <input type="text" class="form-control text-uppercase" name="nmRazao" id="field_nmRazao"
                            ng-model="vm.filial.nmRazao"
                            ng-maxlength="150" />
                    <div ng-show="editForm.nmRazao.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmRazao.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="150">
                            Este campo não pode ter mais que 150 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-2">        
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.nnNumero" for="field_nnNumero">Numero</label>
                    <input type="number" class="form-control" name="nnNumero" id="field_nnNumero"
                            ng-model="vm.filial.nnNumero"
                             />
                </div>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.dsComplemento" for="field_dsComplemento">Complemento</label>
                    <input type="text" class="form-control text-uppercase" name="dsComplemento" id="field_dsComplemento"
                            ng-model="vm.filial.dsComplemento"
                            ng-maxlength="20" />
                    <div ng-show="editForm.dsComplemento.$invalid">
                        <p class="help-block"
                            ng-show="editForm.dsComplemento.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                            Este campo não pode ter mais que 20 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdCnpj" for="field_cdCnpj">CNPJ</label>
                    <input type="text" class="form-control" name="cdCnpj" id="field_cdCnpj"
                            ng-model="vm.filial.cdCnpj"
                            ng-maxlength="18"
                            ui-br-cnpj-mask
                            placeholder="00.000.000/0000-00" />
                    <div ng-show="editForm.cdCnpj.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdCnpj.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                            Este campo não pode ter mais que 18 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdIe" for="field_cdIe">Inscrição Estadual</label>
                    <input type="text" class="form-control text-uppercase" name="cdIe" id="field_cdIe"
                            ng-model="vm.filial.cdIe"
                            ng-maxlength="18" />
                    <div ng-show="editForm.cdIe.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdIe.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                            Este campo não pode ter mais que 18 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4"> 
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.dsPisCofins" for="field_dsPisCofins">PIS/COFINS</label>
                    <input type="text" class="form-control text-uppercase" name="dsPisCofins" id="field_dsPisCofins"
                            ng-model="vm.filial.dsPisCofins"
                            ng-maxlength="2" />
                    <div ng-show="editForm.dsPisCofins.$invalid">
                        <p class="help-block"
                            ng-show="editForm.dsPisCofins.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2">
                            Este campo não pode ter mais que 2 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdTel" for="field_cdTel">Telefone</label>
                    <input type="text" class="form-control" name="cdTel" id="field_cdTel"
                            ng-model="vm.filial.cdTel"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdTel.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdTel.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdTel1" for="field_cdTel1">Telefone 2</label>
                    <input type="text" class="form-control" name="cdTel1" id="field_cdTel1"
                            ng-model="vm.filial.cdTel1"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdTel1.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdTel1.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdTel2" for="field_cdTel2">Telefone 3</label>
                    <input type="text" class="form-control" name="cdTel2" id="field_cdTel2"
                            ng-model="vm.filial.cdTel2"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdTel2.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdTel2.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.cdFax" for="field_cdFax">Fax</label>
                    <input type="text" class="form-control" name="cdFax" id="field_cdFax"
                            ng-model="vm.filial.cdFax"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdFax.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdFax.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.dsEmail" for="field_dsEmail">Email</label>
                    <input type="email" class="form-control text-uppercase" name="dsEmail" id="field_dsEmail"
                            ng-model="vm.filial.dsEmail"
                            ng-maxlength="100" />
                    <div ng-show="editForm.dsEmail.$invalid">
                        <p class="help-block"
                            ng-show="editForm.dsEmail.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                            Este campo não pode ter mais que 100 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.filial.dsSite" for="field_dsSite">Site</label>
                    <input type="text" class="form-control text-uppercase" name="dsSite" id="field_dsSite"
                            ng-model="vm.filial.dsSite"
                            ng-maxlength="30" />
                    <div ng-show="editForm.dsSite.$invalid">
                        <p class="help-block"
                            ng-show="editForm.dsSite.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                            Este campo não pode ter mais que 30 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>    
        
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.filial.dsObs" for="field_dsObs">Obs.</label>
            <input type="text" class="form-control text-uppercase" name="dsObs" id="field_dsObs"
                    ng-model="vm.filial.dsObs"
                    ng-maxlength="200" />
            <div ng-show="editForm.dsObs.$invalid">
                <p class="help-block"
                    ng-show="editForm.dsObs.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    Este campo não pode ter mais que 200 caracteres.
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="flEnviaEmail" ng-model="vm.filial.flEnviaEmail"/>
                    <span class="checkbox__label" translate="gpwebApp.filial.flEnviaEmail">Envio de Email</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">                   
                <label>
                    <input type="checkbox" name="flMatriz" ng-model="vm.filial.flMatriz" />
                    <span class="checkbox__label" translate="gpwebApp.filial.flMatriz">Matriz</span>
                </label>
            </div>
        </div>        
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="flInativo" ng-model="vm.filial.flInativo"/>
                    <span class="checkbox__label" translate="gpwebApp.filial.flInativo">Inativo</span>
                </label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default ripple" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-success ripple ripple-light">
            <span translate="entity.action.save">Salvar</span>
        </button>
    </div>
</form>
