<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title" translate="gpwebApp.filial.home.title">Filials</h1>
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>
    
    <div class="box-header">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="filial.new" >
                    <span translate="gpwebApp.filial.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            
            <div class="col-xs-8 col-sm-7">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.filial.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box-header -->
    
    <div class="box-body">
        <div class="table-responsive">
            <table class="jh-table table table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id" class="col-md-1 col-filial-codigo"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="nmFilial"><span translate="gpwebApp.filial.nmFilial">Nm Filial</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="cdCnpj" class="col-md-1 col-filial-cnpj"><span translate="gpwebApp.filial.cdCnpj">Cd Cnpj</span> <span class="glyphicon glyphicon-sort pull-right"></span></th> 
                        <th jh-sort-by="cdTel" class="col-md-1 col-filial-telefone"><span translate="gpwebApp.filial.cdTel">Cd Tel</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="cdFax" class="col-md-1 col-filial-fax"><span translate="gpwebApp.filial.cdFax">Cd Fax</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="flAtiva" class="col-md-1 col-filial-ativo"><span translate="gpwebApp.filial.flAtiva">Fl Ativa</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>  
                        <th class="col-md-1 col-filial-acoes text-center" translate="global.field.actions">Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="filial in vm.filials track by filial.id">
                        <td><a ui-sref="filial-detail({id:filial.id})">{{filial.id}}</a></td>
                        <td class="text-uppercase">{{filial.nmFilial}}</td>
                        <td>{{filial.cdCnpj | brCnpj}}</td>                        
                        <td>{{filial.cdTel | brPhoneNumber}}</td>
                        <td>{{filial.cdFax | brPhoneNumber}}</td>
                        <td class="text-uppercase text-center">
                            <i class="mdi"
                                ng-class="{'mdi-check text-success': filial.flAtiva,
                                'mdi-close text-danger': !filial.flAtiva}">
                            </i>
                        </td> 
                        <td class="text-center">
                            <div>
                                <button type="submit"
                                        ui-sref="filial-detail({id:filial.id})"
                                        class="btn btn-success btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="filial.edit({id:filial.id})"
                                        class="btn btn-primary btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="filial.delete({id:filial.id})"
                                        class="btn btn-danger btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->
