<div class="box">
    <div class="box-header">
        <h1 class="box-title" translate="gpwebApp.produto.home.title">Produtos</h1>
    </div><!-- /.box-header -->

    <jhi-alert></jhi-alert>

    <div class="box-body">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="produto.new" >
                    <span translate="gpwebApp.produto.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>

            <div class="col-xs-8 col-sm-7">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.produto.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group" ng-init="vm.exibition = false">
                    <button type="button" class="btn btn-default btn-sm ripple" ng-click="vm.exibition = false" uib-tooltip="Lista">
                        <i class="mdi mdi-view-list"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm ripple" ng-click="vm.exibition = true" uib-tooltip="Bloco">
                        <i class="mdi mdi-view-module"></i>
                    </button>
                </div>
            </div>
        </div>

        <br>
        
        <!-- No futuro quando criarem a tabela de permissão de usuário, deverá ser criado um campo para salvar a configuração da visualização da lista.
        
        <!-- Visualização em bloco -->        
        <div class="row" ng-show="vm.exibition">
            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="produto in vm.produtos track by produto.id">
                <div class="product-box">
                    <div>
                        <a ng-if="produto.blImagem" ng-click="vm.openFile(produto.blImagemContentType, produto.blImagem)">
                            <img class="img-responsive product-box-img" data-ng-src="{{'data:' + produto.blImagemContentType + ';base64,' + produto.blImagem}}"/>
                        </a>

                        <div class="product-box-not-img" ng-hide="produto.blImagem != null"></div>

                        <br>

                        <div class="text-uppercase text-right">                            
                            <small ng-show="produto.flInativo" class="label bg-red">Inativo</small>
                            <small ng-show="!produto.flInativo" class="label bg-green">Ativo</small>
                        </div>
                    </div> 

                    <div class="product-box-body">                        
                        <div class="row">
                            <div class="col-xs-12">                                
                                {{produto.nmProduto}}                                   
                            </div>    
                        </div>

                        <br>

                        <div class="row"> 
                            <div class="col-xs-6">
                                <div>
                                    <strong translate="gpwebApp.produto.cdProduto">Código Produto</strong>
                                </div>
                                <span>{{produto.cdProduto}}</span>
                                <span ng-hide="produto.cdProduto != null"> - </span>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <strong translate="gpwebApp.produto.cdBarras">Código de Barras</strong>
                                </div> 
                                <span>{{produto.cdBarras}}</span>
                                <span ng-hide="produto.cdBarras != null"> - </span>   
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div>
                                    <strong translate="gpwebApp.produto.marca">Marca</strong>
                                </div>
                                <span>{{produto.marca.nmMarca}}</span>
                                <span ng-hide="produto.marca.nmMarca != null"> - </span>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <strong translate="gpwebApp.produto.vlVenda">Valor Venda</strong>
                                </div>
                                <span>{{produto.vlVenda}}</span>
                                <span ng-hide="produto.vlVenda != null"> - </span>                             
                            </div>
                        </div>
                    </div>

                    <div class="product-box-footer">                            
                        <button type="submit"
                                ui-sref="produto-detail({id:produto.id})"
                                class="btn btn-success btn-outline btn-sm ripple ripple-light"
                                uib-tooltip="Visualizar">
                            <span class="mdi mdi-eye"></span>
                        </button>
                        <button type="submit"
                                ui-sref="produto.edit({id:produto.id})"
                                class="btn btn-primary btn-outline btn-sm ripple ripple-light"
                                uib-tooltip="Editar">
                            <span class="mdi mdi-pencil"></span>
                        </button>
                        <button type="submit"
                                ui-sref="produto.delete({id:produto.id})"
                                class="btn btn-danger btn-outline btn-sm ripple ripple-light"
                                uib-tooltip="Deletar">
                            <span class="mdi mdi-delete"></span>
                        </button>         
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Visualização em tabela -->

        <div class="table-responsive" ng-show="!vm.exibition">
            <table class="jh-table table table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id" class="col-md-1 col-catalogo-codigo"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="cdProduto" class="col-md-1 col-catalogo-codigo-produto"><span translate="gpwebApp.produto.cdProduto">Código Produto</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="cdBarras" class="col-md-1 col-catalogo-codigoBarras"><span translate="gpwebApp.produto.cdBarras">Código de Barras</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="blImagem" class="col-md-1 col-catalogo-imagem"><span translate="gpwebApp.produto.blImagem">Imagem</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="nmProduto"><span translate="gpwebApp.produto.nmProduto">Nome</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="marca.id" class="col-md-1 col-catalogo-marca"><span translate="gpwebApp.produto.marca">Marca</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="vlVenda" class="col-md-1 col-catalogo-vlVenda"><span translate="gpwebApp.produto.vlVenda">Valor Venda</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="flInativo" class="col-md-1 col-catalogo-inativo"><span translate="gpwebApp.produto.flInativo"> Inativo</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-catalogo-acoes text-center"><span translate="global.field.actions">Ações</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in vm.produtos track by produto.id">
                        <td><a ui-sref="produto-detail({id:produto.id})">{{produto.id}}</a></td>
                        <td>{{produto.cdProduto}}</td>
                        <td>{{produto.cdBarras}}</td>
                        <td class="text-center">
                            <a ng-if="produto.blImagem" ng-click="vm.openFile(produto.blImagemContentType, produto.blImagem)">
                                <img data-ng-src="{{'data:' + produto.blImagemContentType + ';base64,' + produto.blImagem}}" style="max-height: 30px;"/>
                            </a>
                        </td>  
                        <td>{{produto.nmProduto}}</td>
                        <td>
                            <a ui-sref="marca-detail({id:produto.marca.id})">{{produto.marca.nmMarca}}</a>
                        </td>                      
                        <td class="text-right">{{produto.vlVenda}}</td>                       
                        <td class="text-uppercase text-center">                            
                            <small ng-show="produto.flInativo" class="label bg-red">Sim</small>
                            <small ng-show="!produto.flInativo" class="label bg-green">Não</small>
                        </td>
                        <td class="text-center">
                            <div>
                                <button type="submit"
                                        ui-sref="produto-detail({id:produto.id})"
                                        class="btn btn-success btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="produto.edit({id:produto.id})"
                                        class="btn btn-primary btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="produto.delete({id:produto.id})"
                                        class="btn btn-danger btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button> 
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive --> 
    </div>

    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->


