
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProdutoLabel" translate="gpwebApp.produto.home.createOrEditLabel">Criar ou editar	um Produto</h4>
    </div>
    
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Principal">
                <div class="form-group padding-top-15">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail container-thumbnail margin-bottom-15" ngf-drop ngf-change="vm.setBlImagem($file, vm.produto)" ngf-pattern="'image/*'">
                                <img class="img-responsive image-thumbnail" data-ng-src="{{'data:' + vm.produto.blImagemContentType + ';base64,' + vm.produto.blImagem}}" ng-if="vm.produto.blImagem"/>
                                <div class="btn-group flex-btn-group-container">
                                    <button type="file" ngf-select class="btn btn-success btn-block btn-thumbnail" 
                                            ngf-change="vm.setBlImagem($file, vm.produto)" accept="image/*" translate="entity.action.addimage">
                                        Imagem
                                    </button>   
                                    <div ng-if="vm.produto.blImagem">
                                        <button ng-click="vm.produto.blImagem=null;vm.produto.blImagemContentType=null;"
                                                class="btn btn-danger btn-thumbnail pull-right">
                                            <span class="mdi mdi-delete-forever"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.nmProduto" for="field_nmProduto">Nome</label>
                                <input type="text" class="form-control text-uppercase" name="nmProduto" id="field_nmProduto"
                                       ng-model="vm.produto.nmProduto"
                                       required ng-minlength="1" ng-maxlength="50" autofocus />
                                <div ng-show="editForm.nmProduto.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.nmProduto.$error.required" translate="entity.validation.required">
                                        O campo é obrigatório.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nmProduto.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                                        Este campo não pode ter menos que 1 caractere.
                                    </p>
                                    <p class="help-block"
                                       ng-show="editForm.nmProduto.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                                        Este campo não pode ter mais que 50 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>                      

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="id" translate="global.field.id">Código</label>
                                <input type="text" class="form-control" id="id" name="id"
                                       ng-model="vm.produto.id" disabled />
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdProduto" for="field_cdProduto">Código Produto</label>
                                <input type="number" class="form-control" name="cdProduto" id="field_cdProduto"
                                       ng-model="vm.produto.cdProduto"
                                       />
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdNcm" for="field_cdNcm">Código NCM</label>
                                <input type="text" class="form-control text-uppercase" name="cdNcm" id="field_cdNcm"
                                       ng-model="vm.produto.cdNcm"
                                       ng-maxlength="8" />
                                <div ng-show="editForm.cdNcm.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.cdNcm.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="8">
                                        Este campo não pode ter mais que 8 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdBarras" for="field_cdBarras">Código de Barras</label>
                                <input type="text" class="form-control text-uppercase" name="cdBarras" id="field_cdBarras"
                                       ng-model="vm.produto.cdBarras"
                                       ng-maxlength="25" />
                                <div ng-show="editForm.cdBarras.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.cdBarras.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                                        Este campo não pode ter mais que 25 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdGtin" for="field_cdGtin">Código GTIN</label>
                                <input type="text" class="form-control text-uppercase" name="cdGtin" id="field_cdGtin"
                                       ng-model="vm.produto.cdGtin"
                                       ng-maxlength="20" />
                                <div ng-show="editForm.cdGtin.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.cdGtin.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                                        Este campo não pode ter mais que 20 caracteres.
                                    </p>
                                </div>
                            </div>                
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdAnp" for="field_cdAnp">Código ANP</label>
                                <input type="text" class="form-control text-uppercase" name="cdAnp" id="field_cdAnp"
                                       ng-model="vm.produto.cdAnp"
                                       ng-maxlength="9" />
                                <div ng-show="editForm.cdAnp.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.cdAnp.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="9">
                                        Este campo não pode ter mais que 9 caracteres.
                                    </p>
                                </div>
                            </div>                
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.dsAnp" for="field_dsAnp">Descrição ANP</label>
                                <input type="text" class="form-control text-uppercase" name="dsAnp" id="field_dsAnp"
                                       ng-model="vm.produto.dsAnp"
                                       ng-maxlength="30" />
                                <div ng-show="editForm.dsAnp.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.dsAnp.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                                        Este campo não pode ter mais que 30 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.cdContaContabil" for="field_cdContaContabil">Código Conta Contábil</label>
                                <input type="text" class="form-control text-uppercase" name="cdContaContabil" id="field_cdContaContabil"
                                       ng-model="vm.produto.cdContaContabil"
                                       ng-maxlength="25" />
                                <div ng-show="editForm.cdContaContabil.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.cdContaContabil.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                                        Este campo não pode ter mais que 25 caracteres.
                                    </p>
                                </div>
                            </div>                
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.vlEstoque" for="field_vlEstoque">Valor Estoque</label>
                                <input type="number" class="form-control" name="vlEstoque" id="field_vlEstoque"
                                       ng-model="vm.produto.vlEstoque"
                                       />
                            </div>    
                        </div>          

                    
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.vlVenda" for="field_vlVenda">Valor Venda</label>
                                <input type="number" class="form-control" name="vlVenda" id="field_vlVenda"
                                       ng-model="vm.produto.vlVenda"
                                       />
                            </div>    
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label" translate="gpwebApp.produto.dsInformacoes" for="field_dsInformacoes">Informações</label>
                                <input type="text" class="form-control text-uppercase" name="dsInformacoes" id="field_dsInformacoes"
                                       ng-model="vm.produto.dsInformacoes"
                                       ng-maxlength="200" />
                                <div ng-show="editForm.dsInformacoes.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.dsInformacoes.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                                        Este campo não pode ter mais que 200 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <div class="row">
                        <div class="col-xs-12 col-md-6 margin-bottom-15">
                            <!-- Diretiva Grupo-->
                            <label class="control-label" translate="gpwebApp.produto.grupo">
                                Grupo
                            </label>

                            <div class="form-group no-margin">
                                <sc-select
                                           ng-model="vm.produto.grupo"
                                           sc-options="grupo as grupo.id for grupo in vm.obj.searchAsync(searchText, page, 'api/_search/grupos/select', 'id')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Código"
                                           loading-delay="200"
                                           class="col-xs-5 col-md-4 no-padding">
                                </sc-select>

                                <sc-select
                                           ng-model="vm.produto.grupo"
                                           sc-options="grupo as grupo.nmGrupo for grupo in vm.obj.searchAsync(searchText, page, 'api/_search/grupos/select', 'nmGrupo')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Descrição"
                                           loading-delay="200"
                                           class="col-xs-6 col-md-7 no-padding">
                                </sc-select>

                                <span class="btn btn-sm btn-link padding-top-7 no-mob-padding-lef-rig" 
                                    ng-click="vm.produto.grupo = null">
                                    <span class="mdi mdi-magnify" ng-show="vm.produto.grupo == null"></span>
                                    <span class="mdi mdi-window-close" ng-show="vm.produto.grupo != null"></span>
                                </span>
                            </div>                
                        </div>

                        <div class="col-xs-12 col-md-6 margin-bottom-15">
                            <!-- Diretiva Subgrupo-->
                            <label class="control-label" translate="gpwebApp.produto.subgrupo">
                                Subgrupo
                            </label>                      

                            <div class="form-group no-margin">               
                                <sc-select
                                           ng-model="vm.produto.subgrupo"
                                           sc-options="subgrupo as subgrupo.id for subgrupo in vm.obj.searchAsync(searchText, page, 'api/_search/subgrupos/select', 'id')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Código"
                                           loading-delay="200"
                                           class="col-xs-5 col-md-4 no-padding">
                                </sc-select>

                                <sc-select
                                           ng-model="vm.produto.subgrupo"
                                           sc-options="subgrupo as subgrupo.nmSubgrupo for subgrupo in vm.obj.searchAsync(searchText, page, 'api/_search/subgrupos/select', 'nmSubgrupo')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Descrição"
                                           loading-delay="200"
                                           class="col-xs-6 col-md-7 no-padding">
                                </sc-select>	

                                <span class="btn btn-sm btn-link padding-top-7 no-mob-padding-lef-rig" 
                                    ng-click="vm.produto.subgrupo = null">
                                    <span class="mdi mdi-magnify" ng-show="vm.produto.subgrupo == null"></span>
                                    <span class="mdi mdi-window-close" ng-show="vm.produto.subgrupo != null"></span>
                                </span>
                            </div>                                   
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 margin-bottom-15">
                            <!-- Diretiva Marca-->
                            <label class="control-label" translate="gpwebApp.produto.marca">
                                Marca
                            </label>                      

                            <div class="form-group no-margin">
                                <sc-select
                                           ng-model="vm.produto.marca"
                                           sc-options="marca as marca.id for marca in vm.obj.searchAsync(searchText, page, 'api/_search/marcas/select', 'id')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Código"
                                           loading-delay="200"
                                           class="col-xs-5 col-md-4 no-padding">
                                </sc-select>

                                <sc-select
                                           ng-model="vm.produto.marca"
                                           sc-options="marca as marca.nmMarca for marca in vm.obj.searchAsync(searchText, page, 'api/_search/marcas/select', 'nmMarca')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Descrição"
                                           loading-delay="200"
                                           class="col-xs-6 col-md-7 no-padding">
                                </sc-select>

                                <span class="btn btn-sm btn-link padding-top-7 no-mob-padding-lef-rig" 
                                    ng-click="vm.produto.marca = null">
                                    <span class="mdi mdi-magnify" ng-show="vm.produto.marca == null"></span>
                                    <span class="mdi mdi-window-close" ng-show="vm.produto.marca != null"></span>
                                </span>			     
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 margin-bottom-15">
                            <!-- Diretiva Unidade-->
                            <label class="control-label" translate="gpwebApp.produto.unidade">
                                Unidade
                            </label>                      

                            <div class="form-group no-margin">               
                                <sc-select
                                           ng-model="vm.produto.unidade"
                                           sc-options="unidade as unidade.id for unidade in vm.obj.searchAsync(searchText, page, 'api/_search/unidades/select', 'id')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Código"
                                           loading-delay="200"
                                           class="col-xs-5 col-md-4 no-padding">
                                </sc-select>

                                <sc-select
                                           ng-model="vm.produto.unidade"
                                           sc-options="unidade as unidade.nmUnidade for unidade in vm.obj.searchAsync(searchText, page, 'api/_search/unidades/select', 'nmUnidade')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Descrição"
                                           loading-delay="200"
                                           class="col-xs-6 col-md-7 no-padding">
                                </sc-select>			     

                                <span class="btn btn-sm btn-link padding-top-7 no-mob-padding-lef-rig" 
                                    ng-click="vm.produto.unidade = null">
                                    <span class="mdi mdi-magnify" ng-show="vm.produto.unidade == null"></span>
                                    <span class="mdi mdi-window-close" ng-show="vm.produto.unidade != null"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 margin-bottom-15">
                            <!-- Diretiva ClassProduto-->
                            <label class="control-label" translate="gpwebApp.produto.classProduto">
                                Classificação
                            </label>                      

                            <div class="form-group no-margin">               
                                <sc-select
                                           ng-model="vm.produto.classProduto"
                                           sc-options="classProduto as classProduto.id for classProduto in vm.obj.searchAsync(searchText, page, 'api/_search/class-produtos/select', 'id')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Código"
                                           loading-delay="200"
                                           class="col-xs-5 col-md-4 no-padding">
                                </sc-select>

                                <sc-select
                                           ng-model="vm.produto.classProduto"
                                           sc-options="classProduto as classProduto.nmClassProduto for classProduto in vm.obj.searchAsync(searchText, page, 'api/_search/class-produtos/select', 'nmClassProduto')"
                                           page-limit="vm.obj.asyncPageLimit"
                                           total-items="vm.obj.totalResults"
                                           placeholder="Descrição"
                                           loading-delay="200"
                                           class="col-xs-6 col-md-7 no-padding">
                                </sc-select>			     

                                <span class="btn btn-sm btn-link padding-top-7 no-mob-padding-lef-rig" 
                                    ng-click="vm.produto.classProduto = null">
                                    <span class="mdi mdi-magnify" ng-show="vm.produto.classProduto == null"></span>
                                    <span class="mdi mdi-window-close" ng-show="vm.produto.classProduto != null"></span>
                                </span>
                            </div>                                  
                        </div>                 
                    </div>

                    <div class="form-group">
                        <div class="checkbox">                   
                            <label>
                                <input type="checkbox" name="flBalanca" ng-model="vm.produto.flBalanca" />
                                <span class="checkbox__label" translate="gpwebApp.produto.flBalanca">Balanca</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">                   
                            <label>
                                <input type="checkbox" name="flSngpc" ng-model="vm.produto.flSngpc" />
                                <span class="checkbox__label" translate="gpwebApp.produto.flSngpc">SNGPC</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">                   
                            <label>
                                <input type="checkbox" name="flUsoProlongado" ng-model="vm.produto.flUsoProlongado" />
                                <span class="checkbox__label" translate="gpwebApp.produto.flUsoProlongado">Uso Prolongado</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">                   
                            <label>
                                <input type="checkbox" name="flInativo" ng-model="vm.produto.flInativo" />
                                <span class="checkbox__label" translate="gpwebApp.produto.flInativo">Inativo</span>
                            </label>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="1" heading="Filiais">
                <div class="form-group padding-top-15">                            
                    <dualmultiselect options="vm.demoOptions"> </dualmultiselect>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default ripple" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success ripple ripple-light" ng-disabled="editForm.$invalid || vm.isSaving">
            <span translate="entity.action.save">Salvar</span>
        </button>
    </div>
</form>
