<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title" translate="gpwebApp.produto.home.title">Produtos</h1>
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>
    
    <div class="box-header">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="produto.new" >
                    <span translate="gpwebApp.produto.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            <div class="col-xs-8 col-sm-7">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.produto.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-delete"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="box-body">
        <div class="table-responsive">
            <table class="jh-table table table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id" class="col-md-1 col-catalogo-codigo"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="cdProduto" class="col-md-1 col-catalogo-codigo-produto"><span translate="gpwebApp.produto.cdProduto">Código Produto</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <!-- <th jh-sort-by="cdBarras" class="col-md-1 col-catalogo-codigoBarras"><span translate="gpwebApp.produto.cdBarras">Código de Barras</span> <span class="glyphicon glyphicon-sort pull-right"></span></th> -->
                        <th jh-sort-by="blImagem" class="col-md-1 col-catalogo-imagem"><span translate="gpwebApp.produto.blImagem">Imagem</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th jh-sort-by="nmProduto"><span translate="gpwebApp.produto.nmProduto">Nome</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <!-- <th jh-sort-by="marca.id" class="col-md-1 col-catalogo-marca"><span translate="gpwebApp.produto.marca">Marca</span> <span class="glyphicon glyphicon-sort pull-right"></span></th> -->
                        <!-- <th jh-sort-by="cdNcm"><span translate="gpwebApp.produto.cdNcm">Código NCM</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="cdEan"><span translate="gpwebApp.produto.cdEan">Código EAN</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="cdAnp"><span translate="gpwebApp.produto.cdAnp">Cd Anp</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dsAnp"><span translate="gpwebApp.produto.dsAnp">Descrição ANP</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="cdContaContabil"><span translate="gpwebApp.produto.cdContaContabil">Código Conta Contábil</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="materiaPrima"><span translate="gpwebApp.produto.materiaPrima">Matéria Prima</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="flBalanca"><span translate="gpwebApp.produto.flBalanca">Balança</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="flSngpc"><span translate="gpwebApp.produto.flSngpc">SNGPC</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="flMedProlonga"><span translate="gpwebApp.produto.flMedProlonga">Uso Prolongado</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="dsClassTerapeutica"><span translate="gpwebApp.produto.dsClassTerapeutica">Classe Terapêutica</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="vlReal"><span translate="gpwebApp.produto.vlReal">Valor Real</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <th jh-sort-by="vlEstoque" class="col-md-1 col-catalogo-valorEstoque"><span translate="gpwebApp.produto.vlEstoque">Valor Estoque</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <!-- <th jh-sort-by="dsInformacoes"><span translate="gpwebApp.produto.dsInformacoes">Informações</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="grupo.id"><span translate="gpwebApp.produto.grupo">Grupo</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="unidade.id"><span translate="gpwebApp.produto.unidade">Unidade</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="classProduto.id"><span translate="gpwebApp.produto.classProduto">Classificação</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <!-- <th jh-sort-by="subgrupo.id"><span translate="gpwebApp.produto.subgrupo">Subgrupo</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                        <th jh-sort-by="flInativo" class="col-md-1 col-catalogo-inativo"><span translate="gpwebApp.produto.flInativo"> Inativo</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-catalogo-acoes text-center"><span translate="global.field.actions">Ações</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in vm.produtos track by produto.id">
                        <td><a ui-sref="produto-detail({id:produto.id})">{{produto.id}}</a></td>
                        <td>{{produto.cdProduto}}</td>
                        <!-- <td>{{produto.cdBarras}}</td> -->
                        <td class="text-center">
                            <a ng-if="produto.blImagem" ng-click="vm.openFile(produto.blImagemContentType, produto.blImagem)">
                                <img data-ng-src="{{'data:' + produto.blImagemContentType + ';base64,' + produto.blImagem}}" style="max-height: 30px;"/>
                            </a>
                            <!-- <span ng-if="produto.blImagem">{{produto.blImagemContentType}}, {{vm.byteSize(produto.blImagem)}}</span> -->
                        </td>  
                        <td>{{produto.nmProduto}}</td>
                        <!-- <td>
                            <a ui-sref="marca-detail({id:produto.marca.id})">{{produto.marca.nmFabricante}}</a>
                        </td> -->
                        <!-- <td>{{produto.cdNcm}}</td> -->
                        <!-- <td>{{produto.cdEan}}</td>
                        <td>{{produto.cdAnp}}</td>
                        <td>{{produto.dsAnp}}</td>
                        <td>{{produto.cdContaContabil}}</td>
                        <td>{{produto.materiaPrima}}</td>
                        <td>{{produto.flBalanca}}</td> -->                        
                        <!-- <td>{{produto.flSngpc}}</td>
                        <td>{{produto.flMedProlonga}}</td>
                        <td>{{produto.dsClassTerapeutica}}</td> -->
                        <!-- <td>{{produto.vlReal}}</td> -->
                        <td class="text-right">{{produto.vlEstoque}}</td>
                        <!-- <td>{{produto.dsInformacoes}}</td> -->
                        <!-- <td>
                            <a ui-sref="grupo-detail({id:produto.grupo.id})">{{produto.grupo.id}}</a>
                        </td> -->
                        <!-- <td>
                            <a ui-sref="unidade-detail({id:produto.unidade.id})">{{produto.unidade.id}}</a>
                        </td> -->
                        <!-- <td>
                            <a ui-sref="class-produto-detail({id:produto.classProduto.id})">{{produto.classProduto.cdClassProduto}}</a>
                        </td> -->
                        <!-- <td>
                            <a ui-sref="subgrupo-detail({id:produto.subgrupo.id})">{{produto.subgrupo.id}}</a>
                        </td>  -->                        
                        <td class="text-center">
                            <i class="mdi"
                                ng-class="{'mdi-check text-success': produto.flInativo,
                                'mdi-close text-danger': !produto.flInativo}">
                            </i>
                        </td>                       
                        <td class="text-center">
                            <div>
                                <button type="submit"
                                        ui-sref="produto-detail({id:produto.id})"
                                        class="btn btn-success btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="produto.edit({id:produto.id})"
                                        class="btn btn-primary btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="produto.delete({id:produto.id})"
                                        class="btn btn-danger btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.pagination -->
</div>
