<div class="box">
    <div class="box-header">
        <h1 class="box-title" translate="userManagement.home.title">Users</h1>        
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>

    <div class="box-body">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-success ripple ripple-light" ui-sref="user-management.new">
                  <span translate="userManagement.home.createLabel">Adicionar</span>
              </button>
          </div>
        </div>

        <br>

        <div class="table-responsive no-border-table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th translate="global.field.id">Código</th>
                    <th translate="userManagement.login">Login</th>
                    <th translate="userManagement.email">E-mail</th>
                    <th></th>
                    <th translate="userManagement.langKey">Idioma</th>
                    <th translate="userManagement.profiles">Perfis</th>
                    <th translate="userManagement.createdDate">Criado em</th>
                    <th translate="userManagement.lastModifiedBy">Alterado por</th>
                    <th translate="userManagement.lastModifiedDate">Alterado em</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users track by user.id">
                    <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                              translate="userManagement.deactivated" style="cursor: pointer;">Desactivated</span>
                        <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                              translate="userManagement.activated" style="cursor: pointer;">Activated</span>
                    </td>
                    <td>
                        <span ng-show="user.langKey">{{user.langKey}}</span>
                        <span ng-show="!user.langKey"> - </span>
                    </td>
                    <td>
                        <div ng-repeat="authority in user.authorities">
                            <span class="label label-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>
                        <span ng-show="user.lastModifiedBy">{{user.lastModifiedBy}}</span>
                        <span ng-show="!user.lastModifiedBy"> - </span>
                    </td>
                    <td>
                        <span ng-show="user.lastModifiedDate">{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</span>
                        <span ng-show="!user.lastModifiedDate"> - </span>
                    </td>
                    <td class="text-center">
                        <div>
                            <button type="submit"
                                    ui-sref="user-management-detail({login:user.login})"
                                    class="btn btn-success btn-outline btn-sm ripple ripple-light"
                                    uib-tooltip="Visualizar">
                                <span class="mdi mdi-eye"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-management.edit({login:user.login})"
                                    class="btn btn-primary btn-outline btn-sm ripple ripple-light"
                                    uib-tooltip="Editar">
                                <span class="mdi mdi-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-management.delete({login:user.login})"
                                    class="btn btn-danger btn-outline btn-sm ripple ripple-light"
                                    uib-tooltip="Deletar">
                                <span class="mdi mdi-delete"></span>
                            </button>
                        </div>                      
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadAll()"></uib-pagination>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->
