<div>
    <h2 translate="gpwebApp.grupo.home.title">Grupos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="grupo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="gpwebApp.grupo.home.createLabel">
                        Create new Grupo
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.grupo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nmGrupo"><span translate="gpwebApp.grupo.nmGrupo">Nm Grupo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vlComissao"><span translate="gpwebApp.grupo.vlComissao">Vl Comissao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vlDesconto"><span translate="gpwebApp.grupo.vlDesconto">Vl Desconto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flPromo"><span translate="gpwebApp.grupo.flPromo">Fl Promo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flDesco"><span translate="gpwebApp.grupo.flDesco">Fl Desco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtPromo"><span translate="gpwebApp.grupo.dtPromo">Dt Promo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtOperacao"><span translate="gpwebApp.grupo.dtOperacao">Dt Operacao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flSemContagem"><span translate="gpwebApp.grupo.flSemContagem">Fl Sem Contagem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flEnvio"><span translate="gpwebApp.grupo.flEnvio">Fl Envio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnNovo"><span translate="gpwebApp.grupo.nnNovo">Nn Novo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnDay"><span translate="gpwebApp.grupo.nnDay">Nn Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnDayWeek"><span translate="gpwebApp.grupo.nnDayWeek">Nn Day Week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnType"><span translate="gpwebApp.grupo.nnType">Nn Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="grupo in vm.grupos track by grupo.id">
                    <td><a ui-sref="grupo-detail({id:grupo.id})">{{grupo.id}}</a></td>
                    <td>{{grupo.nmGrupo}}</td>
                    <td>{{grupo.vlComissao}}</td>
                    <td>{{grupo.vlDesconto}}</td>
                    <td>{{grupo.flPromo}}</td>
                    <td>{{grupo.flDesco}}</td>
                        <td>{{grupo.dtPromo | date:'mediumDate'}}</td>
                        <td>{{grupo.dtOperacao | date:'mediumDate'}}</td>
                    <td>{{grupo.flSemContagem}}</td>
                    <td>{{grupo.flEnvio}}</td>
                    <td>{{grupo.nnNovo}}</td>
                    <td>{{grupo.nnDay}}</td>
                    <td>{{grupo.nnDayWeek}}</td>
                    <td>{{grupo.nnType}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="grupo-detail({id:grupo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grupo.edit({id:grupo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="grupo.delete({id:grupo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
