<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title" translate="gpwebApp.grupo.home.title">Grupos</h1>
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>
    
    <div class="box-header">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="grupo.new" >
                    <span translate="gpwebApp.grupo.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            <div class="col-xs-8 col-sm-7 search-pad-col">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.grupo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box-header -->

    <div class="box-body">
        <div class="table-responsive">
            <table class="jh-table table table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="col-md-1 col-grupo-codigo" jh-sort-by="id"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-7" jh-sort-by="nmGrupo"><span translate="gpwebApp.grupo.name">Nome</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-grupo-comissao" jh-sort-by="vlComissao"><span translate="gpwebApp.grupo.commission">Comissão (%)</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-grupo-promocao" jh-sort-by="flPromo"><span translate="gpwebApp.grupo.promotion">Promoção</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-grupo-semdesconto" jh-sort-by="flDesco"><span translate="gpwebApp.grupo.noDiscount">Sem Desconto</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-md-1 col-grupo-acoes text-center"><span translate="global.field.actions">Ações</span></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="grupo in vm.grupos track by grupo.id">
                        <td><a ui-sref="grupo-detail({id:grupo.id})">{{grupo.id}}</a></td>
                        <td class="text-uppercase">{{grupo.nmGrupo}}</td>
                        <td>{{grupo.vlComissao | currency:'':2}}</td>
                        <td class="text-center">
                            <i class="mdi"
                                ng-class="{'mdi-check text-success': grupo.flPromo,
                                'mdi-close text-danger': !grupo.flPromo}">
                            </i>
                        </td>
                        <td class="text-center">
                            <i class="mdi"
                                ng-class="{'mdi-check text-success': grupo.flDesco,
                                'mdi-close text-danger': !grupo.flDesco}">
                            </i>
                        </td>
                        <td class="text-center">
                            <div>
                                <button type="submit"
                                        ui-sref="grupo-detail({id:grupo.id})"
                                        class="btn btn-success btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="grupo.edit({id:grupo.id})"
                                        class="btn btn-primary btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="grupo.delete({id:grupo.id})"
                                        class="btn btn-danger btn-sm ripple ripple-light"
                                        data-toggle="tooltip" data-placement="top" title="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->
