
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGrupoLabel" translate="gpwebApp.grupo.home.createOrEditLabel">Create or edit a Grupo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.grupo.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.grupo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.nmGrupo" for="field_nmGrupo">Nm Grupo</label>
            <input type="text" class="form-control" name="nmGrupo" id="field_nmGrupo"
                    ng-model="vm.grupo.nmGrupo"
                    required ng-minlength="1" ng-maxlength="35" />
            <div ng-show="editForm.nmGrupo.$invalid">
                <p class="help-block"
                    ng-show="editForm.nmGrupo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nmGrupo.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nmGrupo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.vlComissao" for="field_vlComissao">Vl Comissao</label>
            <input type="number" class="form-control" name="vlComissao" id="field_vlComissao"
                    ng-model="vm.grupo.vlComissao"
                    max="100" />
            <div ng-show="editForm.vlComissao.$invalid">
                <p class="help-block"
                    ng-show="editForm.vlComissao.$error.max" translate="entity.validation.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.vlComissao.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.vlDesconto" for="field_vlDesconto">Vl Desconto</label>
            <input type="number" class="form-control" name="vlDesconto" id="field_vlDesconto"
                    ng-model="vm.grupo.vlDesconto"
                    max="100" />
            <div ng-show="editForm.vlDesconto.$invalid">
                <p class="help-block"
                    ng-show="editForm.vlDesconto.$error.max" translate="entity.validation.max" translate-value-max="100">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.vlDesconto.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.flPromo" for="field_flPromo">Fl Promo</label>
            <input type="checkbox" class="form-control" name="flPromo" id="field_flPromo"
                    ng-model="vm.grupo.flPromo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.flDesco" for="field_flDesco">Fl Desco</label>
            <input type="checkbox" class="form-control" name="flDesco" id="field_flDesco"
                    ng-model="vm.grupo.flDesco"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.dtPromo" for="field_dtPromo">Dt Promo</label>
                <div class="input-group">
                    <input id="field_dtPromo" type="text" class="form-control" name="dtPromo" uib-datepicker-popup="{{dateformat}}" ng-model="vm.grupo.dtPromo" is-open="vm.datePickerOpenStatus.dtPromo"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtPromo')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.dtOperacao" for="field_dtOperacao">Dt Operacao</label>
                <div class="input-group">
                    <input id="field_dtOperacao" type="text" class="form-control" name="dtOperacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.grupo.dtOperacao" is-open="vm.datePickerOpenStatus.dtOperacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtOperacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.flSemContagem" for="field_flSemContagem">Fl Sem Contagem</label>
            <input type="checkbox" class="form-control" name="flSemContagem" id="field_flSemContagem"
                    ng-model="vm.grupo.flSemContagem"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.flEnvio" for="field_flEnvio">Fl Envio</label>
            <input type="checkbox" class="form-control" name="flEnvio" id="field_flEnvio"
                    ng-model="vm.grupo.flEnvio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.nnNovo" for="field_nnNovo">Nn Novo</label>
            <input type="number" class="form-control" name="nnNovo" id="field_nnNovo"
                    ng-model="vm.grupo.nnNovo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.nnDay" for="field_nnDay">Nn Day</label>
            <input type="number" class="form-control" name="nnDay" id="field_nnDay"
                    ng-model="vm.grupo.nnDay"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.nnDayWeek" for="field_nnDayWeek">Nn Day Week</label>
            <input type="text" class="form-control" name="nnDayWeek" id="field_nnDayWeek"
                    ng-model="vm.grupo.nnDayWeek"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.grupo.nnType" for="field_nnType">Nn Type</label>
            <input type="number" class="form-control" name="nnType" id="field_nnType"
                    ng-model="vm.grupo.nnType"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
