
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUnidadeLabel" translate="gpwebApp.unidade.home.createOrEditLabel">Criar ou editar uma Unidade</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="id" translate="global.field.id">Código</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.unidade.id" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.unidade.sgUnidade" for="field_sgUnidade">Unidade</label>
                    <input type="text" class="form-control text-uppercase" name="sgUnidade" id="field_sgUnidade"
                            ng-model="vm.unidade.sgUnidade"
                            required ng-maxlength="2" maxlength="2" />
                    <div ng-show="editForm.sgUnidade.$invalid">
                        <p class="help-block"
                            ng-show="editForm.sgUnidade.$error.required" translate="entity.validation.required">
                        </p>
                        <p class="help-block"
                            ng-show="editForm.sgUnidade.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2">
                            Este campo não pode ser maior que 2 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.unidade.nmUnidade" for="field_nmUnidade">Ds Unidade</label>
                    <input type="text" class="form-control text-uppercase" name="nmUnidade" id="field_nmUnidade"
                            ng-model="vm.unidade.nmUnidade"
                            required ng-minlength="1" ng-maxlength="25" maxlength="25" />
                    <div ng-show="editForm.nmUnidade.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmUnidade.$error.required" translate="entity.validation.required">
                            Campo obrigatório
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmUnidade.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                            Preencha pelo menos 1 caractere.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmUnidade.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                            Este campo não pode ser maior que 25 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default ripple" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success ripple ripple-light" ng-disabled="editForm.$invalid || isSaving">
            <span translate="entity.action.save">Salvar</span>
        </button>
    </div>
</form>
