<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title" translate="gpwebApp.unidade.home.title">Unidades</h1>
    </div><!-- /.box-header -->

    <jhi-alert></jhi-alert>
    
    <div class="box-header">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="unidade.new" >
                    <span translate="gpwebApp.unidade.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            
            <div class="col-xs-8 col-sm-7 search-pad-col">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.unidade.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.box-header -->
    
    <div class="box-body">
        <div class="table-responsive">
            <table class="jh-table table table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="col-sm-1 col-unidade-codigo" jh-sort-by="id"><span translate="global.field.id">Código</span><span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-sm-9" jh-sort-by="dsUnidade"><span translate="gpwebApp.unidade.dsUnidade">Nome</span><span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-sm-1 col-unidade-unidade" jh-sort-by="sgUnidade"><span translate="gpwebApp.unidade.sgUnidade">Unidade</span> <span class="glyphicon glyphicon-sort pull-right"></span></th>
                        <th class="col-sm-1 col-unidade-acoes text-center"><span translate="global.field.actions">Ações</span></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="unidade in vm.unidades track by unidade.id">
                        <td><a ui-sref="unidade-detail({id:unidade.id})">{{unidade.id}}</a></td>
                        <td class="text-uppercase">{{unidade.dsUnidade}}</td>
                        <td class="text-uppercase">{{unidade.sgUnidade}}</td>
                        <td class="text-center">
                            <button type="submit"
                                    ui-sref="unidade-detail({id:unidade.id})"
                                    class="btn btn-success btn-sm ripple ripple-light"
                                    data-toggle="tooltip" data-placement="top" title="Visualizar">
                                <span class="mdi mdi-eye"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="unidade.edit({id:unidade.id})"
                                    class="btn btn-primary btn-sm ripple ripple-light"
                                    data-toggle="tooltip" data-placement="top" title="Editar">
                                <span class="mdi mdi-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="unidade.delete({id:unidade.id})"
                                    class="btn btn-danger btn-sm ripple ripple-light"
                                    data-toggle="tooltip" data-placement="top" title="Deletar">
                                <span class="mdi mdi-delete"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->
