<div class="box">
    <div class="box-header">
        <h1 class="box-title" translate="gpwebApp.classProduto.home.title">Classificação do Produto</h1>
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>

    <div class="box-body">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="class-produto.new" >
                    <span translate="gpwebApp.classProduto.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            <div class="col-xs-8 col-sm-7">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.classProduto.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="table-responsive no-border-table-responsive">
            <table class="jh-table table table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id" class="col-md-1 col-classificacao-codigo"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="cdClassProduto" class="col-md-1 col-classificacao-codigo-classificacao"><span translate="gpwebApp.classProduto.cdClassProduto">Código da Classificação</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="nmClassProduto" class="col-md-9"><span translate="gpwebApp.classProduto.nmClassProduto">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th class="col-md-1 col-classificacao-acoes text-center" translate="global.field.actions">Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="classProduto in vm.classProdutos track by classProduto.id">
                        <td><a ui-sref="class-produto-detail({id:classProduto.id})">{{classProduto.id}}</a></td>
                        <td class="text-center text-uppercase">{{classProduto.cdClassProduto}}</td>
                        <td class="text-uppercase">{{classProduto.nmClassProduto}}</td>
                        <td>
                            <div>
                                <button type="submit"
                                        ui-sref="class-produto-detail({id:classProduto.id})"
                                        class="btn btn-success btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="class-produto.edit({id:classProduto.id})"
                                        class="btn btn-primary btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="class-produto.delete({id:classProduto.id})"
                                        class="btn btn-danger btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->
