<div class="box">    
    <div class="box-header">
        <h2 class="box-title" translate="health.title">Health Checks</h2>
    </div><!-- /.box-header -->
    
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button type="button" class="btn btn-primary ripple ripple-light" ng-click="vm.refresh()">
                    <span translate="health.refresh.button">Refresh</span>
                </button>
            </div>
        </div>

        <br>

        <div class="table-responsive">
            <table id="healthCheck" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-7" translate="health.table.service">Service Name</th>
                        <th class="col-md-2 text-center" translate="health.table.status">Status</th>
                        <th class="col-md-2 text-center" translate="health.details.details">Details</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="health in vm.healthData">
                        <td>{{'health.indicator.' + vm.baseName(health.name) | translate}} {{vm.subSystemName(health.name)}}</td>
                        <td class="text-center">
                            <span class="label" ng-class="vm.getLabelClass(health.status)">
                                {{'health.status.' + health.status | translate}}
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="hand" ng-click="vm.showHealth(health)" ng-show="health.details || health.error">
                                <i class="mdi mdi-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->