//-------------------------------------
//ENTIDADE CLASSIFICAÇÃO PRODUTO
//-------------------------------------
.col-classificacao-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-classificacao-codigo-classificacao{
  min-width: 160px;
  max-width: 160px;
}
.col-classificacao-nome{
  min-width: 736px;
  max-width: 736px;
}
.col-classificacao-acoes{
  min-width: 126px;
  max-width: 126px;
}