//-------------------------------------
//ENTIDADE FILIAL
//-------------------------------------
.col-filial-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-filial-nome{
  min-width: 500px;
  max-width: 500px;
}
.col-filial-cnpj{
  min-width: 160px;
  max-width: 160px;
}
.col-filial-telefone{
  min-width: 137px;
  max-width: 137px;
}
.col-filial-fax{
  min-width: 137px;
  max-width: 137px;
}
.col-filial-ativo{
  min-width: 125px;
  max-width: 125px;
}
.col-filial-acoes{
  min-width: 155px;
  max-width: 155px;
}