//-------------------------------------
//ENTIDADE FILIAL
//-------------------------------------
.col-filial-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-filial-nome{
  min-width: 500px;
  max-width: 500px;
}
.col-filial-cnpj{
  min-width: 100px;
  max-width: 100px;
}
.col-filial-telefone{
  min-width: 120px;
  max-width: 120px;
}
.col-filial-fax{
  min-width: 120px;
  max-width: 120px;
}
.col-filial-ativo{
  min-width: 100px;
  max-width: 100px;
}
.col-filial-acoes{
  min-width: 126px;
  max-width: 126px;
}