//-------------------------------------
//ENTIDADE GRUPO
//-------------------------------------
.col-grupo-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-grupo-nome{
  min-width: 495px;
  max-width: 495px;
}
.col-grupo-comissao{
  min-width: 135px;
  max-width: 135px;
}
.col-grupo-promocao{
  min-width: 100px;
  max-width: 100px;
}
.col-grupo-semdesconto{
  min-width: 120px;
  max-width: 120px;
}
.col-grupo-acoes{
  min-width: 126px;
  max-width: 126px;
}
