//-------------------------------------
//ENTIDADE MARCA
//-------------------------------------
.col-marca-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-marca-nome{
  min-width: 350px;
  max-width: 350px;
}
.col-marca-cidade{
  min-width: 325px;
  max-width: 325px;
}
.col-marca-telefone{
  min-width: 137px;
  max-width: 137px;
}
.col-marca-inativo{
  min-width: 125px;
  max-width: 125px;
}
.col-marca-acoes{
  min-width: 155px;
  max-width: 155px;
}