//-------------------------------------
//ENTIDADE MARCA
//-------------------------------------
.col-marca-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-marca-nome{
  min-width: 350px;
  max-width: 350px;
}
.col-marca-cidade{
  min-width: 325px;
  max-width: 325px;
}
.col-marca-telefone{
  min-width: 115px;
  max-width: 115px;
}
.col-marca-inativo{
  min-width: 100px;
  max-width: 100px;
}
.col-marca-acoes{
  min-width: 126px;
  max-width: 126px;
}