//-------------------------------------
//ENTIDADE PROMOÇÃO
//-------------------------------------
.col-promocao-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-promocao-nome{
  min-width: 336px;
  max-width: 336px;
}
.col-promocao-ate{
  min-width: 100px;
  max-width: 100px;
}
.col-promocao-dia{
  min-width: 100px;
  max-width: 100px;
}
.col-promocao-em{
  min-width: 100px;
  max-width: 100px;
}
.col-promocao-desconto{
  min-width: 122px;
  max-width: 122px;
}
.col-promocao-inativo{
  min-width: 100px;
  max-width: 100px;
}
.col-promocao-acoes{
  min-width: 126px;
  max-width: 126px;
}