//-------------------------------------
//ENTIDADE PROMOÇÃO
//-------------------------------------
.col-promocao-codigo{
  min-width: 99px;
  max-width: 99px;
}
.col-promocao-nome{
  min-width: 336px;
  max-width: 336px;
}
.col-promocao-ate{
  min-width: 138px;
  max-width: 138px;
}
.col-promocao-dia{
  min-width: 82px;
  max-width: 82px;
}
.col-promocao-em{
  min-width: 110px;
  max-width: 110px;
}
.col-promocao-desconto{
  min-width: 132px;
  max-width: 132px;
}
.col-promocao-inativo{
  min-width: 98px;
  max-width: 98px;
}
.col-promocao-acoes{
  min-width: 152px;
  max-width: 152px;
}