//-------------------------------------
//ENTIDADE SUBGRUPO
//-------------------------------------
.col-subgrupo-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-subgrupo-nome{
  min-width: 625px;
  max-width: 625px;
}
.col-subgrupo-custo{
  min-width: 125px;
  max-width: 125px;
}
.col-subgrupo-acoes{
  min-width: 126px;
  max-width: 126px;
}