//-------------------------------------
//ENTIDADE UNIDADE
//-------------------------------------
.col-unidade-codigo{
  min-width: 110px;
  max-width: 110px;
}
.col-unidade-nome{
  min-width: 352px;
  max-width: 352px;
}
.col-unidade-unidade{
  min-width: 100px;
  max-width: 100px;
}
.col-unidade-acoes{
  min-width: 126px;
  max-width: 126px;
}