<!-- menu top -->
<header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Logo
        <a href="" class="logo">
            mini logo for sidebar mini 50x50 pixels
            <span class="logo-mini"><b>S</b>TH</span>
            logo for regular state and mobile devices
            <span class="logo-lg"><b class="text-aqua">STH</b>WEB</span>
        </a> -->
        <!-- sidebar toggle button-->
        <div class="navbar-custom-menu pull-left">
            <ul class="nav navbar-nav">
                <li>
    				<a class="offcanvas-margin-left" data-toggle="offcanvas" role="button">
    					<i class="mdi mdi-menu"></i>
    					Menu
    				</a>
    			</li>
    		</ul>
    	</div><!-- ./navbar-custom-menu -->
    	<!-- Navbar-->
        <div class="navbar-custom-menu" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home" class="ripple ripple-light">
                        <i class="mdi mdi-home"></i>
                        <span class="hidden-xs hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- fullscreen -->
                <li>
                    <a href="" class="toggle-fullscreen ripple ripple-light" id="javascript:void(0);">
                    	<span>
                        	<i class="mdi mdi-fullscreen"></i>
                        	<span class="hidden-xs hidden-sm" translate="global.menu.fullscreen"> Tela Cheia</span>
                    	</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle ripple ripple-light" uib-dropdown-toggle href="" id="account-menu">
                        <i class="mdi mdi-account-box"></i>
                        <span class="hidden-sm"translate="global.menu.account.main">
                            Account
                        </span>
                        <span style="margin-left: 4px"><b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                        	<a ui-sref="settings">
                        		<i class="mdi mdi-wrench"></i>
                            	<span class="mdi-icon-text" translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                        	<a ui-sref="password">
                        		<i class="mdi mdi-lock"></i>
                            	<span class="mdi-icon-text" translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                        	<a ui-sref="sessions">
                        		<i class="mdi mdi-weather-cloudy"></i>
                            	<span class="mdi-icon-text" translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                        	<a href="" ng-click="vm.logout()" id="logout">
                        		<span class="mdi mdi-logout"></span>
                            	<span class="mdi-icon-text" translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                        	<a href="" ng-click="vm.login()" id="login">
                        		<i class="mdi mdi-login"></i>
                            	<span class="mdi-icon-text" translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                        	<a ui-sref="register">
                        		<i class="mdi mdi-account-plus"></i>
                            	<span class="mdi-icon-text" translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- ./nav navbar-nav -->
        </div><!-- ./navbar-custom-menu -->
    </nav>
</header>
   
   
<!-- PORFAVOR NÃO REMOVAM ESTE CÓDIGO, POIS AS ENTIDADES GERADAS PELO JHIPSTER SÃO ADICIONADAS A ESTA ESTRUTURA. APOS CRIAR UMA ENTIDADE SERÁ NECESSARIO REMOVER O CÓDIGO DA PÁGINA QUE FOI GERADO AQUI E ADICIONAR NO MENU DA PÁGINA SIDEBAR.HTML, OBRIGADO!
 
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here --
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>                      
                        <li ui-sref-active="active" >
                            <a ui-sref="filial" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.filial">Filial</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="marca" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.marca">Marca</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="unidade" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.unidade">Unidade</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="produto" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.produto">Produto</span>
                            </a>
                        </li>                        
                        <li ui-sref-active="active" >
                            <a ui-sref="promocao" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.promocao">Promocao</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="produto-filial" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.produtoFilial">Produto Filial</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here --
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->