<div class="box">
    <div class="box-header">
        <h1 class="box-title" translate="gpwebApp.marca.home.title">Marcas</h1>
    </div><!-- /.box-header -->
    
    <jhi-alert></jhi-alert>

    <div class="box-body">
        <div class="row">
            <div class="col-xs-4 col-sm-5">
                <button class="btn btn-success ripple ripple-light" ui-sref="marca.new" >
                    <span translate="gpwebApp.marca.home.createLabel">
                        Adicionar
                    </span>
                </button>
            </div>
            
            <div class="col-xs-8 col-sm-7">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control text-uppercase" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.marca.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.search(vm.searchQuery)">
                                <span class="mdi mdi-magnify"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info ripple ripple-light" ng-click="vm.clear()">
                                <span class="mdi mdi-window-close"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <div class="table-responsive no-border-table-responsive">
            <table class="jh-table table table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id" class="col-md-1 col-marca-codigo"><span translate="global.field.id">Código</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="nmMarca" class="col-md-8"><span translate="gpwebApp.marca.nmMarca2">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="cdTel" class="col-md-1 col-marca-telefone text-right"><span translate="gpwebApp.marca.cdTel">Telefone</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="flInativo" class="col-md-1 col-marca-inativo text-center"><span translate="gpwebApp.marca.flInativo">Inativo</span> <span class="glyphicon glyphicon-sort"></span></th>                    
                        <th class="col-md-1 col-marca-acoes text-center" translate="global.field.actions">Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="marca in vm.marcas track by marca.id">
                        <td><a ui-sref="marca-detail({id:marca.id})">{{marca.id}}</a></td>
                        <td class="text-uppercase">{{marca.nmMarca}}</td>
                        <td class="text-right">
                            <span ng-show="marca.cdTel">{{marca.cdTel | brPhoneNumber}}</span>
                            <span ng-show="!marca.cdTel"> - </span>
                        </td>
                        <td class="text-uppercase text-center">
                            <small ng-show="marca.flInativo" class="label bg-green" translate="global.condition.true">Sim</small>
                            <small ng-show="!marca.flInativo" class="label bg-red" translate="global.condition.false">Não</small>
                        </td>                   
                        <td>
                            <div>
                                <button type="submit"
                                        ui-sref="marca-detail({id:marca.id})"
                                        class="btn btn-success btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Visualizar">
                                    <span class="mdi mdi-eye"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="marca.edit({id:marca.id})"
                                        class="btn btn-primary btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Editar">
                                    <span class="mdi mdi-pencil"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="marca.delete({id:marca.id})"
                                        class="btn btn-danger btn-outline btn-sm ripple ripple-light"
                                        uib-tooltip="Deletar">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </div>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    
    <!-- paginação -->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div><!-- /.text-center -->
</div><!-- /.box -->
