<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMarcaLabel" translate="gpwebApp.marca.home.createOrEditLabel">Criar ou editar	uma Marca</h4>
    </div>
    
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div class="row">
			<div class="col-xs-12 col-sm-2">
                <div class="form-group">
                    <label for="id" translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.marca.id" disabled />
                </div>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.nmMarca" for="field_nmMarca">Razão Social</label>
                    <input type="text" class="form-control text-uppercase" name="nmMarca" id="field_nmMarca"
                            ng-model="vm.marca.nmMarca"
                            required ng-minlength="1" ng-maxlength="35" maxlength="35" />
                    <div ng-show="editForm.nmMarca.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmMarca.$error.required" translate="entity.validation.required">
                            O campo é obrigatório.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmMarca.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                            Este campo não pode ter menos que 1 caractere.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmMarca.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                            Este campo não pode ter mais que 35 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">  
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.nmFantasia" for="field_nmFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control text-uppercase" name="nmFantasia" id="field_nmFantasia"
                            ng-model="vm.marca.nmFantasia"
                            ng-maxlength="35" maxlength="35" />
                    <div ng-show="editForm.nmFantasia.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmFantasia.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                            Este campo não pode ter mais que 35 caracteres.
                        </p>
                    </div>
                </div>
            </div>                
        </div>
        
        <div class="row">
			<div class="col-xs-12 col-sm-4">  
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.cdCnpj" for="field_cdCnpj">CNPJ</label>
                    <input type="text" class="form-control" name="cdCnpj" id="field_cdCnpj"
                            ng-model="vm.marca.cdCnpj"
                            ng-maxlength="18" 
                            ui-br-cnpj-mask
                            placeholder="00.000.000/0000-00" />
                    <div ng-show="editForm.cdCnpj.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdCnpj.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                            Este campo não pode ter mais que 18 caracteres.
                        </p>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.cdIe" for="field_cdIe">Inscrição Estadual</label>
                    <input type="text" class="form-control text-uppercase" name="cdIe" id="field_cdIe"
                            ng-model="vm.marca.cdIe"
                            ng-maxlength="18" />
                    <div ng-show="editForm.cdIe.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdIe.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="18">
                            Este campo não pode ter mais que 18 caracteres.
                        </p>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.cdTel" for="field_cdTel">Telefone</label>
                    <input type="text" class="form-control" name="cdTel" id="field_cdTel"
                            ng-model="vm.marca.cdTel"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdTel.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdTel.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div> 
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.cdFax" for="field_cdFax">Fax</label>
                    <input type="text" class="form-control" name="cdFax" id="field_cdFax"
                            ng-model="vm.marca.cdFax"
                            ng-maxlength="15"
                            ui-br-phone-number
                            placeholder="(00) 00000-0000" />
                    <div ng-show="editForm.cdFax.$invalid">
                        <p class="help-block"
                            ng-show="editForm.cdFax.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
                            Este campo não pode ter mais que 15 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.marca.vlComissao" for="field_vlComissao">Comissao (%)</label>
                    <input type="number" class="form-control" name="vlComissao" id="field_vlComissao"
                            ng-model="vm.marca.vlComissao"
                             />
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <div class="checkbox">                   
                        <label>
                            <input type="checkbox" name="flInativo" ng-model="vm.marca.flInativo" />
                            <span class="checkbox__label" translate="gpwebApp.marca.flInativo">Inativo</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>  
        <!-- <div class="form-group">
            <label class="control-label" translate="gpwebApp.marca.nnNumero" for="field_nnNumero">Nn Numero</label>
            <input type="number" class="form-control" name="nnNumero" id="field_nnNumero"
                    ng-model="vm.marca.nnNumero"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.marca.dsComplemento" for="field_dsComplemento">Ds Complemento</label>
            <input type="text" class="form-control" name="dsComplemento" id="field_dsComplemento"
                    ng-model="vm.marca.dsComplemento"
                    ng-maxlength="20" />
            <div ng-show="editForm.dsComplemento.$invalid">
                <p class="help-block"
                    ng-show="editForm.dsComplemento.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default ripple" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success ripple ripple-light" ng-disabled="editForm.$invalid || isSaving">
            <span translate="entity.action.save">Salvar</span>
        </button>
    </div>
</form>
