<div>
    <h2 translate="gpwebApp.marca.home.title">Marcas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="marca.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="gpwebApp.marca.home.createLabel">
                        Create new Marca
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.marca.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nmFabricante"><span translate="gpwebApp.marca.nmFabricante">Nm Fabricante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cdCgc"><span translate="gpwebApp.marca.cdCgc">Cd Cgc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cdCgf"><span translate="gpwebApp.marca.cdCgf">Cd Cgf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnNumero"><span translate="gpwebApp.marca.nnNumero">Nn Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dsComplemento"><span translate="gpwebApp.marca.dsComplemento">Ds Complemento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cdTel"><span translate="gpwebApp.marca.cdTel">Cd Tel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cdFax"><span translate="gpwebApp.marca.cdFax">Cd Fax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flInativo"><span translate="gpwebApp.marca.flInativo">Fl Inativo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nmFantasia"><span translate="gpwebApp.marca.nmFantasia">Nm Fantasia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vlComissao"><span translate="gpwebApp.marca.vlComissao">Vl Comissao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtOperacao"><span translate="gpwebApp.marca.dtOperacao">Dt Operacao</span> <span class="glyphicon glyphicon-sort"></span></th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="marca in vm.marcas track by marca.id">
                    <td><a ui-sref="marca-detail({id:marca.id})">{{marca.id}}</a></td>
                    <td>{{marca.nmFabricante}}</td>
                    <td>{{marca.cdCgc}}</td>
                    <td>{{marca.cdCgf}}</td>
                    <td>{{marca.nnNumero}}</td>
                    <td>{{marca.dsComplemento}}</td>
                    <td>{{marca.cdTel}}</td>
                    <td>{{marca.cdFax}}</td>
                    <td>{{marca.flInativo}}</td>
                    <td>{{marca.nmFantasia}}</td>
                    <td>{{marca.vlComissao}}</td>
                    <td>{{marca.dtOperacao | date:'mediumDate'}}</td>                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="marca-detail({id:marca.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="marca.edit({id:marca.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="marca.delete({id:marca.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
