
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubgrupoLabel" translate="gpwebApp.subgrupo.home.createOrEditLabel">Criar ou editar Subgrupo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="id" translate="global.field.id">Código</label>
                    <input type="text" class="form-control" id="id" name="id"
                            ng-model="vm.subgrupo.id" disabled />
                </div>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.subgrupo.nmSubgrupo" for="field_nmSubgrupo">Nome</label>
                    <input type="text" class="form-control text-uppercase" name="nmSubgrupo" id="field_nmSubgrupo"
                            ng-model="vm.subgrupo.nmSubgrupo"
                            required ng-maxlength="35" maxlength="35" />
                    <div ng-show="editForm.nmSubgrupo.$invalid">
                        <p class="help-block"
                            ng-show="editForm.nmSubgrupo.$error.required" translate="entity.validation.required">
                            O campo é obrigatório.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.nmSubgrupo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                            Este campo não pode ter mais que 35 caracteres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.subgrupo.vlValor" for="field_vlValor">Valor</label>
                    <input type="number" class="form-control" name="vlValor" id="field_vlValor"
                            ng-model="vm.subgrupo.vlValor"
                             />
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="form-group">
                    <label class="control-label" translate="gpwebApp.subgrupo.vlCusto" for="field_vlCusto">Custo (%)</label>
                    <input type="number" class="form-control" name="vlCusto" id="field_vlCusto"
                            ng-model="vm.subgrupo.vlCusto"
                             />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default ripple" data-dismiss="modal" ng-click="vm.clear()">
            <span translate="entity.action.cancel">Cancelar</span>
        </button>
        <button type="submit" class="btn btn-success ripple ripple-light" ng-disabled="editForm.$invalid || isSaving">
            <span translate="entity.action.save">Salvar</span>
        </button>
    </div>
</form>
