
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubgrupoLabel" translate="gpwebApp.subgrupo.home.createOrEditLabel">Create or edit a Subgrupo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subgrupo.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subgrupo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.subgrupo.nmSubgrupo" for="field_nmSubgrupo">Nm Subgrupo</label>
            <input type="text" class="form-control" name="nmSubgrupo" id="field_nmSubgrupo"
                    ng-model="vm.subgrupo.nmSubgrupo"
                    required ng-maxlength="35" />
            <div ng-show="editForm.nmSubgrupo.$invalid">
                <p class="help-block"
                    ng-show="editForm.nmSubgrupo.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nmSubgrupo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.subgrupo.vlValor" for="field_vlValor">Vl Valor</label>
            <input type="number" class="form-control" name="vlValor" id="field_vlValor"
                    ng-model="vm.subgrupo.vlValor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.subgrupo.vlCusto" for="field_vlCusto">Vl Custo</label>
            <input type="number" class="form-control" name="vlCusto" id="field_vlCusto"
                    ng-model="vm.subgrupo.vlCusto"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.subgrupo.dtOperacao" for="field_dtOperacao">Dt Operacao</label>
                <div class="input-group">
                    <input id="field_dtOperacao" type="text" class="form-control" name="dtOperacao" uib-datepicker-popup="{{dateformat}}" ng-model="vm.subgrupo.dtOperacao" is-open="vm.datePickerOpenStatus.dtOperacao"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dtOperacao')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gpwebApp.subgrupo.flEnvio" for="field_flEnvio">Fl Envio</label>
            <input type="checkbox" class="form-control" name="flEnvio" id="field_flEnvio"
                    ng-model="vm.subgrupo.flEnvio"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
