<div>
    <h2 translate="gpwebApp.promocao.home.title">Promocaos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="promocao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="gpwebApp.promocao.home.createLabel">
                        Create new Promocao
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpwebApp.promocao.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dsPromocao"><span translate="gpwebApp.promocao.dsPromocao">Ds Promocao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtVencimento"><span translate="gpwebApp.promocao.dtVencimento">Dt Vencimento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnDiaData"><span translate="gpwebApp.promocao.nnDiaData">Nn Dia Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnDiaSemana"><span translate="gpwebApp.promocao.nnDiaSemana">Nn Dia Semana</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flInativo"><span translate="gpwebApp.promocao.flInativo">Fl Inativo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="vlPromocao"><span translate="gpwebApp.promocao.vlPromocao">Vl Promocao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nnPontos"><span translate="gpwebApp.promocao.nnPontos">Nn Pontos</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promocao in vm.promocaos track by promocao.id">
                    <td><a ui-sref="promocao-detail({id:promocao.id})">{{promocao.id}}</a></td>
                    <td>{{promocao.dsPromocao}}</td>
                        <td>{{promocao.dtVencimento | date:'mediumDate'}}</td>
                    <td>{{promocao.nnDiaData}}</td>
                    <td>{{promocao.nnDiaSemana}}</td>
                    <td>{{promocao.flInativo}}</td>
                    <td>{{promocao.vlPromocao}}</td>
                    <td>{{promocao.nnPontos}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="promocao-detail({id:promocao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promocao.edit({id:promocao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promocao.delete({id:promocao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
